{{#> base }}

  {{> header about=this }}

  <main role="main" class="container">

    {{#> welcome title="About Page" }}
      <p class="lead">Use this document as a way to quickly start any new project.</p>
    {{/welcome}}

  </main>

{{/ base }}