{{#> base }}

  {{> header home=this }}

  <main role="main" class="container">

    {{#> welcome title="Home Page" }}
      <p class="lead"><i class="fas fa-rocket"></i> Use this <a href="/about">document</a> as a way to quickly start any new project.</p>
    {{/welcome}}

  </main>

{{/ base }}