{{#> base }}

    {{> nav home=this }}

    <main role="main" class="container">

      <div class="starter-template" style="padding: 3rem 1.5rem; text-align: center;">
        <h1>Home Page</h1>
        <p class="lead">Use this document as a way to quickly start any new project.</p>
      </div>

    </main><!-- /.container -->

{{/ base }}