@import "common/variables";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~bootstrap/scss/bootstrap";

/** Import theme styles */
@import "common/global";
@import "components/nav";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
